@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full;
    @apply bg-gray-bg-1;
    @apply text-base;
  }

  #root {
    @apply h-full;
  }
}

@layer utilities {
  .scrollable {
    @apply scrollbar-thin;
    @apply scrollbar-thumb-gray-solid;
    @apply hover:scrollbar-thumb-gray-solid-hover;
    @apply scrollbar-thumb-rounded-full;
  }
}
