@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full;
    @apply overflow-hidden;
    @apply bg-gray-bg-1;
    @apply text-base;

    @apply select-none;
  }

  #root {
    @apply h-full;
  }
}

@layer utilities {
  .scrollable {
    overflow: scroll;
    @apply scrollbar-thin;
    @apply scrollbar-thumb-gray-solid;
    @apply hover:scrollbar-thumb-gray-solid-hover;
    @apply scrollbar-thumb-rounded-full;
  }
}

@font-face {
  font-family: "B612";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/B612-Regular.ttf);
}

@font-face {
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/B612-Bold.ttf);
}

@font-face {
  font-family: "B612 Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/B612Mono-Regular.ttf);
}
