name: Build Static Site and Release to Public Repo

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn build:rockets-ui
      - run: zip -r dist.zip dist
      - run: zip -r dist-rockets-ui.zip dist-rockets-ui

      - uses: Hs1r1us/Release-AIO@v2.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.run_number }}
          repo: CSI-Rockets-Eletronics/ControlCenterUI-Release
          asset_files: ./dist.zip ./dist-rockets-ui.zip
