name: Build Static Site and Release to Public Repo

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn build:rockets-ui
      - uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.run_number }}
          repository: CSI-Rockets-Eletronics/ControlCenterUI-Release
          token: ${{ secrets.RELEASE_GITHUB_TOKEN }}
          files: |
            dist
            dist-rockets-ui
